.All {
    font-family: monospace;
}

.TextBox {
    background: #b33d79;
    border-color: #580932;
    border: 1px;
}

.Button {
    height: 32.8px;
    background: #bc94a7;
    border-color: #580932;
    cursor: pointer;
    font-size: 25vw 25vh;
}

.TextandButton {
    display: flex;
    width: 700px;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
        background-color:#282828;
        background-size:16px 16px;
}


